## Importing Libraries

In [42]:
#Step 1: 

import pandas as pd
import numpy as np
import os

## Importing path

In [43]:
#Running path

path= r'/Users/heatherstewart/Dropbox/Mac/Desktop/Instacart Basket analysis 3'

In [44]:
#Calling path

path

'/Users/heatherstewart/Dropbox/Mac/Desktop/Instacart Basket analysis 3'

## Importing df_ords_prods_merged pickle dataframe

In [45]:
ords_prods_merged = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merged_pkl'))

In [46]:
## Viewing dataframe by using .head()function

ords_prods_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days
0,2539329,1,1,2,Average orders,30.0,196,1,0,Soda,77,7,9.0,both,Mid_range product,Regularly busy
1,2398795,1,2,3,Average orders,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy
2,473747,1,3,3,Average orders,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy
3,2254736,1,4,4,Average orders,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy
4,431534,1,5,4,Average orders,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy

In [6]:
#Creating subset of ords_prods_merged dataframe 

df= ords_prods_merged[:1000000]

In [47]:
#Viewing subset df dataframe by using .head()
ords_prods_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days
0,2539329,1,1,2,Average orders,30.0,196,1,0,Soda,77,7,9.0,both,Mid_range product,Regularly busy
1,2398795,1,2,3,Average orders,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy
2,473747,1,3,3,Average orders,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy
3,2254736,1,4,4,Average orders,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy
4,431534,1,5,4,Average orders,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy

## Aggregating mean of dataframe columns

In [48]:
## Step 2: Using groupby to group columns for df dataframe

ords_prods_merged.groupby('department_id').agg({'order_number': ['mean'],'orders_day_of_week':['mean'],'days_since_prior_order':['mean'],'product_id':['mean'],'add_to_cart_order':['mean'],'reordered':['mean'],'prices':['mean']})

,order_number,orders_day_of_week,days_since_prior_order,product_id,add_to_cart_order,reordered,prices
,mean,mean,mean,mean,mean,mean,mean
department_id,,,,,,,
1,15.457687,2.790461,13.024341,24390.198727,8.996414,0.541885,7.741434
2,17.277920,2.851368,12.194649,27755.745006,8.277645,0.407980,6.990934
3,17.179756,2.743178,12.309320,23853.279970,8.084397,0.628141,7.864723
4,17.811403,2.683672,12.036398,27169.833725,8.022875,0.649913,7.981708
5,15.213779,3.163259,11.968135,26176.170317,5.429476,0.569867,8.144407
6,16.439806,2.691937,12.608665,23176.950964,9.947061,0.369229,7.682264
7,17.225773,2.807195,12.233968,24975.334825,6.976057,0.653455,7.680574
8,15.340520,2.934868,13.096916,23290.045342,7.718544,0.601285,7.889636
9,15.895474,2.690505,13.056929,25253.734390,10.212863,0.461076,7.350283
10,20.197148,2.759061,11.117635,18263.701501,8.399040,0.577040,8.348960
11,16.170828,2.816534,12.881038,23979.240869,8.752646,0.321309,7.996657
12,15.887622,2.718074,12.672651,23870.406605,8.528225,0.567674,16.294469
13,16.583304,2.810486,12.451632,25278.561796,9.593425,0.346721,8.009901
14,16.757377,2.730050,12.544498,26212.063522,9.125784,0.560878,8.065461
15,16.165037,2.707202,12.923012,23392.289574,9.947258,0.457405,7.539976
16,17.663250,2.739444,12.155878,25322.395323,7.495423,0.669969,33.425510
17,15.694469,2.835449,13.265397,24051.306783,8.492163,0.402178,7.384058
18,19.310397,2.711004,11.065431,25051.904109,10.575925,0.578971,7.638380
19,17.177343,2.751490,12.141520,25380.724173,9.187743,0.574180,4.275437
20,16.473447,2.705505,12.589557,25659.100628,8.693815,0.607719,7.778701
21,22.902379,2.800853,10.866831,26057.782761,9.339489,0.395849,8.660716

##Step 3: Analyzing the result

department_id 20 (deli) and 7 (beverage)has the higest prices. However, department_id 20 has the highest price as well as the highest add_to_cart_order, and also one of the top reordered mean.

department_id 17 (household)has the lowest price, lowest add_to_cart, lowest reordered. However, department_id 17 has the most number of orders placed by a given user.

## Creating loyalty flag for existing customers using transform() and loc() functions.

In [49]:
# Creating "max_order" columns. 

ords_prods_merged['max_order']= ords_prods_merged.groupby(['customer_id'])['order_number'].transform(np.max)

In [50]:
# Using loc()function to create loyalty flag

ords_prods_merged.loc[ords_prods_merged['max_order']> 40, 'loyalty_flag']= 'Loyal customer'

In [51]:
ords_prods_merged.loc[(ords_prods_merged['max_order']<= 40) & (ords_prods_merged['max_order']>10),'loyalty_flag']= 'Regular customer'

In [52]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [53]:
#Viewing df dataframe head()

ords_prods_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days,max_order,loyalty_flag
0,2539329,1,1,2,Average orders,30.0,196,1,0,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer
1,2398795,1,2,3,Average orders,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer
2,473747,1,3,3,Average orders,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer
3,2254736,1,4,4,Average orders,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer
4,431534,1,5,4,Average orders,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer

In [54]:
## Step 5: Using value_counts() function to print frequency

ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: count, dtype: int64

##Step 5: What is the spending habits of the three types of customer groups identified?
##Determine id the prices of products purchased by loyal customers differ from those purchased by regular customer.

We can see that Regular cutomers numbers are greater than both Loyal and New customer.

##Create a spending flag for each user based on the average price across all their orders using the following criteria. 

#If the mean of the prices pf products purchased by a user is lower than 10, then flag them as "Low spender."
#If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as "High spender."

In [55]:
# Step 6: Creating a "mean_price" column

ords_prods_merged['average_price']= ords_prods_merged.groupby(['customer_id'])['prices'].transform(np.mean)

In [56]:
#Using loc()function to create flag

ords_prods_merged.loc[ords_prods_merged['average_price']>= 10, 'spending_flag']= 'High spender'

In [57]:
ords_prods_merged.loc[ords_prods_merged['average_price'] <10,'spending_flag'] = 'Low spender'

In [58]:
#Using the value_counts()function to print frequency of the flag

ords_prods_merged['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31798751
High spender      635461
Name: count, dtype: int64

##The result indicates that there are more low spender than hig spender.

In [60]:
## Printing head of df dataframe by using the .head()function.

ords_prods_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,Busiest days,max_order,loyalty_flag,average_price,spending_flag
0,2539329,1,1,2,Average orders,30.0,196,1,0,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer,6.367797,Low spender
1,2398795,1,2,3,Average orders,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer,6.367797,Low spender
2,473747,1,3,3,Average orders,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer,6.367797,Low spender
3,2254736,1,4,4,Average orders,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer,6.367797,Low spender
4,431534,1,5,4,Average orders,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range product,Regularly busy,10,New customer,6.367797,Low spender

##Creating an order frequency flag that marks the regularity of a user's ordering behavior according to the mediam in the the "days_since_prior_order" columnm, based on criteria;

#If the median of 'days_since_prior_order' is higher than 20, then the customer should be labeled a 'Non-frequent customer.'

#If the median is higher than 10 and lower than 20, then the customer should be labeled a 'Regualar customer.'

#If the meidan is lower than or equal to 10, then the cusotmer should be labeled a 'Frequent customer'

In [61]:
#Step 7: Creating an 'order_frequency_flag'column.

ords_prods_merged['regularity']=ords_prods_merged.groupby(['customer_id'])['days_since_prior_order'].transform(np.median)

In [62]:
#Using .loc to create 'order_frequency_flag' column

ords_prods_merged.loc[ords_prods_merged['regularity']> 20,'order_frequency_flag'] = 'Non-frequent customer'

In [63]:
ords_prods_merged.loc[(ords_prods_merged['regularity']>10) & (ords_prods_merged['regularity'] <=20),'order_frequency_flag']= 'Regular customer'

In [64]:
ords_prods_merged.loc[ords_prods_merged['regularity']<=10,'order_frequency_flag']= 'Frequent customer'

In [65]:
#Printing df using .value_counts()function

ords_prods_merged['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        20533767
Regular customer          7278042
Non-frequent customer     4622403
Name: count, dtype: int64

## Using pd.options to print rows without obstruction.

In [66]:
pd.options.display.max_rows = None

In [68]:
##Printing the first 100 columns

ords_prods_merged[['customer_id', 'days_since_prior_order','order_frequency_flag']].head(100)

    customer_id  days_since_prior_order   order_frequency_flag
0             1                    30.0  Non-frequent customer
1             1                    15.0  Non-frequent customer
2             1                    21.0  Non-frequent customer
3             1                    29.0  Non-frequent customer
4             1                    28.0  Non-frequent customer
5             1                    19.0  Non-frequent customer
6             1                    20.0  Non-frequent customer
7             1                    14.0  Non-frequent customer
8             1                     0.0  Non-frequent customer
9             1                    30.0  Non-frequent customer
10           15                     7.0       Regular customer
11           15                     8.0       Regular customer
12           15                     7.0       Regular customer
13           15                     7.0       Regular customer
14           15                    14.0       Regular customer
15           19                     6.0      Frequent customer
16           19                     8.0      Frequent customer
17           19                     6.0      Frequent customer
18           21                     6.0      Frequent customer
19           31                     7.0      Frequent customer
20           31                     8.0      Frequent customer
21           43                     4.0      Frequent customer
22           43                     3.0      Frequent customer
23           52                    30.0      Frequent customer
24           52                     7.0      Frequent customer
25           52                     7.0      Frequent customer
26           52                     8.0      Frequent customer
27           52                     8.0      Frequent customer
28           52                     7.0      Frequent customer
29           52                     8.0      Frequent customer
30           52                     7.0      Frequent customer
31           52                     6.0      Frequent customer
32           52                     8.0      Frequent customer
33           52                     6.0      Frequent customer
34           52                    14.0      Frequent customer
35           52                     8.0      Frequent customer
36           52                    30.0      Frequent customer
37           67                    30.0      Frequent customer
38           67                     5.0      Frequent customer
39           67                     7.0      Frequent customer
40           67                     8.0      Frequent customer
41           67                     8.0      Frequent customer
42           67                     7.0      Frequent customer
43           67                     7.0      Frequent customer
44           67                     7.0      Frequent customer
45           67                     6.0      Frequent customer
46           67                     7.0      Frequent customer
47           67                     8.0      Frequent customer
48           67                     6.0      Frequent customer
49           67                     7.0      Frequent customer
50           67                     9.0      Frequent customer
51           67                     4.0      Frequent customer
52           67                     9.0      Frequent customer
53           67                     5.0      Frequent customer
54           67                    14.0      Frequent customer
55           67                    14.0      Frequent customer
56           81                    14.0  Non-frequent customer
57           81                    30.0  Non-frequent customer
58           82                    30.0       Regular customer
59           82                     5.0       Regular customer
60           82                    16.0       Regular customer
61           82                    13.0       Regular customer
62           82                    30.0       Regular customer
63           82                     1.0       Regular customer
64           82                    12.0       Regular customer
65           82                     7.0       Regular customer
66           82                     8.0       Regular customer
67           98                    25.0  Non-frequent customer
68           98                     5.0  Non-frequent customer
69           98                    30.0  Non-frequent customer
70           98                    15.0  Non-frequent customer
71           98                    30.0  Non-frequent customer
72           98                    30.0  Non-frequent customer
73           98                     8.0  Non-frequent customer
74          109                     9.0  Non-frequent customer
75          120                    30.0       Regular customer
76          120                    19.0       Regular customer
77          185                    25.0  Non-frequent customer
78          195                    30.0      Frequent customer
79          195                     4.0      Frequent customer
80          195                     3.0      Frequent customer
81          195                     7.0      Frequent customer
82          195                     4.0      Frequent customer
83          195                     4.0      Frequent customer
84          195                     6.0      Frequent customer
85          195                     0.0      Frequent customer
86          195                     2.0      Frequent customer
87          195                     2.0      Frequent customer
88          195                     2.0      Frequent customer
89          195                     3.0      Frequent customer
90          222                     1.0      Frequent customer
91          222                     1.0      Frequent customer
92          290                     6.0      Frequent customer
93          290                     7.0      Frequent customer
94          331                    30.0  Non-frequent customer
95          360                    30.0      Frequent customer
96          377                     3.0  Non-frequent customer
97          387                    22.0      Frequent customer
98          420                    30.0      Frequent customer
99          420                    16.0      Frequent customer

## Exporting dataframe as pickle

In [70]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_groupby_pkl'))